body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.floatdesc {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    z-index: 100;
    text-align: center;
    padding: 8px;
}
h1 {
    padding: 4px 8px
}
a {
    color: #2196F3;
    text-decoration: inherit;
}
.logoimg {
    width: 80px;
}
